.locatorDashboard {
  width: 87.5vw;
  background: #ff3e3e;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 12px;
  transform: translate(-50%, 0);
  z-index: 99;
  padding: 5% 4%;
  transition: height 0.5s ease-in-out;
}

.form__group-locator {
  margin-bottom: 12.5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form__group-locator:last-child {
  margin-bottom: 0;
}

.searchDiv {
  transform: translateX(25%);
  width: 87.5vw;
  background: #ff3e3e;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  top: 130px;
  transform: translate(-50%, 0);
  z-index: 99;
  padding: 1% 4%;
  transition: height 0.5s ease-in-out;
}

.profileDiv {
  transform: translateX(25%);
  width: 87.5vw;
  background: #ff3e3e;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%, 0);
  z-index: 99;
  padding: 2% 4%;
  transition: height 0.5s ease-in-out;
}

.searchDiv  .searchLoc,
.profileDiv .searchLoc {
  background-color: transparent;
  box-shadow: none;
  color: white;
  padding: 0;
  font-size: 4.5vw;
  width: 100%;
}

.searchDiv  .searchLoc:hover,
.profileDiv .searchLoc:hover{

  background-color: transparent;
  box-shadow: none;
  color: white;
  padding: 0;
  font-size: 4.5vw;
}

.form__input-locator {
  font-size: 4.75vw;
  color: white;
  padding: 1vw 2vw;
  border-radius: 5px;
  font-family: inherit;
  background: linear-gradient(90.72deg, #ff3838 2.74%, #ff3e3e 95.84%);
  box-shadow: inset -2px -2px 100px rgba(0, 0, 0, 0.25),
    inset 2px 2px 4px rgba(0, 0, 0, 0.25);
  border: none;
  width: 80%;
  transition: all 0.3s;
}

.form__input-locator:focus {
  outline: none;
  background: linear-gradient(90.72deg, #ff3838 2.74%, #ff3e3e 95.84%);
  box-shadow: inset -2px -2px 100px rgba(0, 0, 0, 0.25),
    inset 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.form__input-locator::-webkit-input-placeholder {
  color: white;
}

.form__label-locator {
  font-size: 4.75vw;
  display: block;
  transition: all 0.25s;
  color: white;
}

.bottomDashboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 7.5%;
  background: #ff3e3e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  flex-direction: column;
  z-index: 99;
  color: #fff9f9;
  background-size: fill;
  background-position: top;
  height: 80px;
  width: 95%;
}

.camBtn {
  background-color: #ebebeb;
  position: absolute;
  margin: 60px;
  display: inline;
  padding: 5%;
  border-radius: 50%;
  bottom: -20%;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 25%);
}

.navbarScale {
  width: 72.5%;
  height: 13px;
  position: inherit;
  border-radius: 20px;
  bottom: 20px;
  right: 20px;
  border-radius: 4px;
  background: #00000020;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.navbarScaleTitle {
  position: absolute;
  font-size: 17.5px;
  text-align: center;
  top: -4vh;
  left: 5px;
}

.progress {
  position: inherit;
  border-radius: 2px;
  width: 70%;
  height: 100%;
  background-color: #52ff52;
}

.progress span {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1.25px;
}

.cameraButton {
  color: #ff3838;
  font-size: 10vw;
}

.rqi {
  font-weight: 700;
  font-size: 15px;
  font-size: 17.5px;
  position: inherit;
  left: 20px;
  letter-spacing: 2.5px;
  bottom: 13px;
}
.profileDiv a{
  color: white;
  text-decoration: none;
}