.homeIntro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(50vh);
}
.homeSVG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(4vw, 32.5vh);
}

.homeSVG img{
    position: absolute;
    width: 65vw;
}

.buttonPrimaryMain button{
    background-color: #EBEBEB;
    color: #242424;
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    width: 70vw;
    height: 6.6%;
    font-size: 4.5vw;
    font-weight: 600;
    text-transform: capitalize;
    margin: 2.5vh 0;
}

.buttonPrimaryMain button:hover{
    background-color: #EBEBEB;
    color: #242424;
}

.buttonSecondaryMain button{
    background-color: transparent;  
    border: 2px solid #EBEBEB;
    border-radius: 10px;
    color: #EBEBEB;
    width: 70vw;
    height: 6.6%;
    font-size: 4.5vw;
    font-weight: 600;
    text-transform: capitalize;
}

.buttonSecondaryMain button:hover{
    background-color: transparent;  
    color: #EBEBEB;
}